<h1>Listing Prices</h1> 

<table class="index">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Valid From</th>
        <th>Valid Until</th>
        <th colspan="2">&nbsp;</th>
        
    </tr>
<% for price in @prices %>
    <tr>
        <td><%=h price.name %></td>
        <td><%=h price.price %> </td>        
        <td><%=h price.valid_from %></td>
        <td><%=h price.valid_until %></td>
        <td><%=h link_to "Edit", edit_admin_event_price_path(price.pricable, price)%></td>
        <td><%=h link_to "Delete", admin_event_price_path(price.pricable, price), :method => :delete, :confirm => "Really delete record?" %></td>                
    </tr> 
<% end %> 
</table> 
<br /> 
<%= link_to "New Price", new_admin_event_price_path %>


