<p><%= @participant.first_name %></p>
<p><%= @participant.email %></p>
<p><%= @participant.street %></p>
<p><%= @participant.postcode %> <%=h @participant.city %></p>
<p><%= @participant.country %></p>
<p><%= @participant.notes %></p>
