<h1>Übersicht der Teilnehmer für das Event <i><%= @event.name -%></i><span style="margin-left: 15px;">(<%= @registrations.size -%>)</span></h1>

<div>
  <ul>
    <li><%= link_to "Teilnehmer (Shuttle)", show_shuttle_admin_participants_path %></li>
    <li><%= link_to "Teilnehmer (Übernachtung DO)", show_thursday_admin_participants_path %></li>
</div>

<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;" class="index">
  <tr>
    <th>&nbsp;</th>
    <th>Name</th>
    <th>E-Mail</th>
    <th>Datum</th>
    <th style="width: 40%;">Notizen</th>
    <th>&nbsp;</th>
  </tr>
  <% counter = 1 -%>
  <% @registrations.each do |registration| -%>
    <tr>
      <td><%= counter -%>
      <td><%= registration.participant.first_name.force_encoding("UTF-8") + " " + registration.participant.last_name.force_encoding("UTF-8") -%></td>
      <td><%= registration.participant.email.force_encoding("UTF-8") -%></td>
      <td><%= I18n.localize(registration.created_at, :format => :short) -%></td>
      <td><%= registration.notes.force_encoding("UTF-8") -%></td>
      <td><%= link_to "Reservierung Entfernen", 
                      admin_participant_path(registration), 
                      :method => :delete,
                      :confirm => "Wollen Sie die Reservierung wirklich löschen?" -%>
      </td>
    </tr>

    <% counter += 1 %>
  <% end -%>
</table>
